@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --Dark-Mode-Background: hsl(207, 26%, 17%);
    --Dark-Mode-Compoment: hsl(209, 23%, 22%);
    --Transition: all, 1s ease;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    max-height: 100%;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 15rem;
    padding-left: 1rem;
}

header.dark-theme{
    background: var(--Dark-Mode-Compoment);
    color: white;
}

.change-theme-btn {
    display: flex;
    align-items: center;
    color: black;
    column-gap: 0.25rem;
    padding: 1rem 0.5rem;
}

.change-theme-btn.dark-theme {
    color: white;
}

.change-theme-btn:hover {
    cursor: pointer;
    background-color: aqua;
    transition: var(--Transition);
}

.change-theme-btn.dark-theme:hover {
    background-color: grey;
}

/* header */

body {
    font-size: 16px;
    min-height: 100vh;
    font-family: "Nunito Sans", sans-serif;
}

main {
    min-height: 100vh;
}

main.dark-theme {
    background-color: var(--Dark-Mode-Background);
}

/* SearchBar */

.search {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.search-icon {
    position: absolute;
    height: 40%;
    left: 1rem;
    color: gray;
}

.search-icon.dark-theme {
    color: white;
}

.search-bar {
    padding: 1rem;
    min-width: 100%;
    text-indent: 2rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    border: none;
}

.search-bar.dark-theme {
    background-color: var(--Dark-Mode-Compoment);
    color: white;
}

input.search-bar.search-bar.dark-theme::placeholder {
    color: white;
}

select.region-filter {
    padding: 1rem;
    max-width: 70%;
    border: none;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

select.region-filter.dark-theme {
    background-color: var(--Dark-Mode-Compoment);
    color: white;
}

option {
    padding: 2rem;
}

/* SearchBar */

.countries-container {
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    place-items: center;
}

.country-card {
    display: grid;
    grid-auto-rows: 1fr;
    box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    align-self: self-start;
    height: 100%;
    width: 100%;
}

.country-card.dark-theme {
    background: var(--Dark-Mode-Compoment);
    color: white;
}

.flag {
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;  
    aspect-ratio: 16/9;
}

.card-title {
    margin-bottom: 0.25rem;
}

.card-body {
    padding: 1.5rem 2rem;
    line-height: 2rem;
}

/* Country */

.country-container {
    display: grid;
    row-gap: 2rem;
    padding: 2rem;
    min-height: 100vh;
}

.country-container.dark-theme {
    background-color: var(--Dark-Mode-Background);
}

.home-button {
    max-width: 33%;
    max-height: 3rem;
    padding: 1rem;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.home-button:hover {
    background-color: aqua;
    transition: var(--Transition);
}

.home-button.dark-theme {
    color: white;
    background-color: var(--Dark-Mode-Compoment);
}

.home-button.dark-theme:hover {
    background-color: grey;
}

.country-detail-flag {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
}

.country-detail-card-body {
    display: grid;
    row-gap: 1.5rem;
    line-height: 1.75rem;
}

.country-detail-card.dark-theme {
    color: white;
}

.border-countries {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.border-country-btn {
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    flex-basis: 6rem;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.border-country-btn:hover {
    background-color: aqua;
    cursor: pointer;
    transition: var(--Transition);
}

.border-country-btn.dark-theme {
    background-color: var(--Dark-Mode-Compoment);
    color: white;
}

.border-country-btn:hover.dark-theme {
    background-color: grey;
}

/* Country */

/* reset */

h1 {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: 600;
}

/* reset */

@media screen and (width > 720px) {
    .countries-container {
        grid-template-columns: 1fr 1fr;
    }

    .search {
        flex-direction: row;
        justify-content: space-between;
    }

    .search-bar-container {
        flex-basis: 40%;
    }

    .region-filter {
        flex-basis: 15%;
    }

    .country-container {
        height: 100vh;
        grid-template-rows: repeat(5, 1fr);
    }

    .country-card {
        max-width: 25rem;
    }

    .home-button-span {
        max-height: 10rem;
    }
    
    .home-button {
        max-width: 10%;
        min-width: 10rem;
    }

    .country-detail-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        grid-row: span 3;
        justify-content: center;
    }

    .country-detail-card-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        max-height: 20rem;
        margin-top: 2rem;
    }
    
    .country-detail-card-body > * {
        max-width: 100%;
    }

    .country-detail-card-body > h2, .country-border-info {
        grid-column: span 2;
    }

}

@media screen and (width > 1200px) {
    .countries-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .country-detail-card {
        column-gap: 5rem;
    }

}